.greeting {
    color: rgb(234, 0, 255);
    font-size: 75px;
    font-weight: bold;
    text-shadow: 2px 2px 5px;

    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
